@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: #e5e5e5;
  font-family: "Questrial", sans-serif;
}

.flying {
  animation: flying 3.5s ease-in-out infinite;
}

@keyframes flying {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(10px, -10px) rotate(3deg);
    opacity: 0.9;
  }
  to {
    transform: translate(0, 0px);
  }
}
