@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: #e5e5e5;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.flying {
  animation: flying 3.5s ease-in-out infinite;
}

@keyframes flying {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(10px, -10px) rotate(3deg);
    opacity: 0.9;
  }
  to {
    transform: translate(0, 0px);
  }
}

#home {
  min-height: 100vh;
}

#ideaz,
#courses {
  padding-top: 2rem;
}

.arrowDown {
  transition: transform 0.4s ease-out;
  animation: topDown 2.5s ease-out infinite;
}

.arrowDown:hover {
  transform: translateY(15px);
}

.course {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@keyframes topDown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0);
  }
}

/* MODAL */

.modal {
  z-index: 999;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.5rem);
  z-index: 500;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 65%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 0.25rem 1.5rem;
  border-radius: 1rem 1rem 0 0;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.closeBtn {
  height: 2.75rem;
}

.content {
  background-color: #eee;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}
